ipykernel==6.29.5
wand

datasets>=2.19.0
openai==1.95.1
transformers==4.53.2
python-dotenv==1.0.1
PyYAML==6.0.1
PyPDF2==3.0.1
torch==2.3.1
pandas

coloredlogs==15.0.1
mdc==1.2.1
strictyaml==1.7.3

pytest==8.1.2
black==25.1.0

matplotlib==3.10.3
numpy==2.3.1

papermill==2.6.0

requests==2.32.3
click==8.1.7
rich==13.8.1
rich-click==1.8.3
survey==5.4.0


peft>=0.14.0
accelerate>=0.34.0
bitsandbytes>=0.43.0
evaluate>=0.4.2
langchain-experimental
langchain_openai

git+https://github.com/cedricvidal/llmscout.git@5c6288b65dc45217f9d826df5c636205c97bea1a#egg=llmscout
